/* * {
  user-select: none;
} */
.die {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-align: center;
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: bold;
}
